.footer {
  padding: 1.5rem 1.5rem 2rem;
  background-color: rgba(3, 3, 3, 0.649);
  margin-top: 200px;
}

.flex-across {
  display: flex;
  justify-content: space-evenly;
}

#contactFooter {
  margin-top: 0px;
  margin-bottom: 0px;
}
